# Tuple Properties

* Tuple is exactly the same as List except that it is **immutable**. 
    * That is, once we create a **tuple** object, we cannot perform any changes in that object.
* Hence **tuple** is a Read-only version of List. 
* If our data is fixed and never changes then we should go for **tuple**.
* **Insertion Order** is preserved.
* **Duplicates** are allowed.
* **Heterogeneous** objects are allowed.
* We can preserve insertion order and we can differentiate duplicate objects by using an index. 
    * Hence index will play a very important role in Tuple also.
* Tuple supports both the +ve and -ve indexes. 
    * **`+ve`** index means forward direction (from **left to right**)
    * **`-ve`** index means backward direction (from **right to left**)
* We can represent **tuple** elements within parenthesis and with a comma operator.
* **Parenthesis is optional** but its recommended to use.

In [2]:
t=()
print(type(t))  # <class 'tuple'>

# Parenthesis is optional but its recommended to use.

t = 10,True,"Kiran",40.0, 10
print(t)        # (10,true,"Kiran",40.0,10)
print(type(t))  # <class 'tuple'>
print(t[0])     # 10
print(t[-1])    # 10

<class 'tuple'>
(10, True, 'Kiran', 40.0, 10)
<class 'tuple'>
10
10

# Tuple Immutability

Once we create a tuple, we cannot change its content.

Hence tuple objects are immutable.

## List Mutability

In [3]:
n = [10,20,30,40]
print(id(n))    # 325636234767
print(n)        # [10,20,30,40]
n[1]=777
print(n)        # [10, 777, 30, 40]
print(id(n))    # 325636234767

1728038810112
[10, 20, 30, 40]
[10, 777, 30, 40]
1728038810112

## Tuple Immutability

In [4]:
t = (10,20,30,40)
t[0] = 777        #  TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

# Single Valued Tuple

We have to take special care of single-valued tuples. 

The value should end with a comma, otherwise, it is not treated as a tuple.

In [5]:
t1 = 10, 20, 30
print(type(t1))   # <class 'tuple'>

t2 = 10, 20
print(type(t2))   # <class 'tuple'>

t3 = 10
print(type(t3))   # <class 'int'>

t4 = (10)
print(type(t4))   # <class 'int'>

# Single valued Tuple must end with a comma, otherwise, it is not treated as a tuple.

t5 = 10,
print(type(t5))   # <class 'tuple'>

t6 = (10,)
print(type(t6))   # <class 'tuple'>

t7 = 10, 20, 30,
print(type(t7))   # <class 'tuple'>

t8 = (10, 20, 30,)
print(type(t8))   # <class 'tuple'>

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>