* **`Functions`** → Python in-built functions
* **`Methods`** → Object-specific functions

# len( ) in-built function

To return the number of elements present in the tuple.

In [1]:
 t = (10,20,30,40)
 print(len(t))      # 4

4

# count( ) method

To return the number of occurrences of a given element in the tuple.

In [2]:
 t = (10, 20, 10, 10, 20)
 print(t.count(10))       # 3

3

# index( ) method

* Returns **index of the first occurrence** of the given element.
* If the specified element is not available then we will get **ValueError**.

In [15]:
t = (10, 20, 10, 10, 20)
print(t.index(10))        # 0

0

In [16]:
print(t.index(30))        # ValueError: tuple.index(x): x not in tuple

ValueError: tuple.index(x): x not in tuple

> **NOTE**:
> * If the specified element not present in the tuple then we will get **ValueError**.
> * Hence before the **index()** method we have to check whether the item is present in the tuple or not by using **`in`** operator.

In [7]:
n = (1, 2, 2, 2, 2, 3, 3)
if 4 in n:
  print(n.index(4))

# reversed( ) in-built function

The **`reversed( )`** function is python in-built function applicable for any type of sequence ( `string`, `list`, `tuple`, `set`, `dictionary` )

It creates a **new reversed iterator** object.

In [9]:
t = (10,20,30,40)
r = reversed(t)
print(type(r))      # <class 'list_reverseiterator'>
print(r)            # <list_reverseiterator object at 0x000000000021A4F98>

newReversedTuple = tuple(r)

print(t)                       # (10,20,30,40)
print(newReversedTuple)        # (40,30,20,10)

<class 'reversed'>
<reversed object at 0x000001F360AA1DB0>
(10, 20, 30, 40)
(40, 30, 20, 10)

In [10]:
s = "kiran"
r = reversed(s)
for x in r:
  print(x)        # n a r i k

n
a
r
i
k

# sorted( ) in-built function

The **`sorted( )`** python in-built function applicable for any type of sequence ( `string`, `list`, `tuple`, `set`, `dictionary` )

It creates and returns a new **sorted list** object and we need to **explicitly convert it to a tuple**.

The return type is the **list**.

In [11]:
t1 = (20,10,30,40)
l = sorted(t1)
t2 = tuple(l)

print(t1)   # (20,10,30,40)
print(l)    # [10,20,30,40]
print(t2)   # (10,20,30,40)

(20, 10, 30, 40)
[10, 20, 30, 40]
(10, 20, 30, 40)

> **NOTE**:
> * The **`sorted( )`** function always sort elements based on the default natural sorting order.
> * To sort according to the reverse of the **default natural sorting order**, we need to use **`reverse`** attribute.

In [12]:
t=(40,10,30,20)
t1 = sorted(t, reverse = True)
print(t1)     # (40,30,20,10)

[40, 30, 20, 10]

# min( ) & max( ) in-built functions

These functions return min and max values according to the default natural sorting order.

In [13]:
t = (40,10,30,20)

print(min(t))   # 10
print(max(t))   # 40

10
40