# Introduction to loops

If we want to execute a group of statements multiple times then we should go for Iterative statements.

Python supports 2 types of iterative statements:
* for loop
* while loop

A  loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)  or other iterable objects. 

Iterating over a sequence is called **traversal**.

# for loop statement

If we want to execute some action for every element present in some sequence ( it may be a string or collection ) then we should use for loop.

**Syntax:**
```
for x in sequence:
    Body
```

Where a sequence can be a string or any collection.

The body will be executed for every element present in the sequence.

**Example 1:** To print characters present in the given string

In [1]:
s="Sunny Leone"
for x in s :
  print(x)

S
u
n
n
y

L
e
o
n
e

**Example 2:** To print characters present in string index wise

In [2]:
s=input("Enter some String: ")
i=0
for x in s :
  print("The character present at ",i,"index is :",x)
  i=i+1

Enter some String:  Kiranmoy

The character present at  0 index is : K
The character present at  1 index is : i
The character present at  2 index is : r
The character present at  3 index is : a
The character present at  4 index is : n
The character present at  5 index is : m
The character present at  6 index is : o
The character present at  7 index is : y

**Example 3:** To print Hello 10 times

In [3]:
for x in range(10) :
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

**Example 4:** To display numbers from 0 to 10

In [4]:
for x in range(11) :
  print(x)

0
1
2
3
4
5
6
7
8
9
10

**Example 5:** To display odd numbers from 0 to 20

In [5]:
for x in range(21) :
  if (x%2!=0):
    print(x)

1
3
5
7
9
11
13
15
17
19

**Example 6:** To display numbers from 10 to 1 in descending order

In [6]:
for x in range(10,0,-1) :
  print(x)

10
9
8
7
6
5
4
3
2
1

**Example 7:** To print the sum of numbers present inside the list

In [7]:
list = eval(input("Enter List:"))
sum=0;
for x in list:
  sum=sum+x;
print("The Sum=",sum)

Enter List: [1,2,3,4]

The Sum= 10

# while loop statement

If we want to execute a group of statements iteratively until some condition is false, then we should go for a while loop.

**Syntax:**
```
while condition :
    body
```

**Example 1:** To print numbers from 1 to 10 by using a while loop

In [8]:
x = 1
while x <= 10:
  print(x)
  x = x+1

1
2
3
4
5
6
7
8
9
10

**Example 2:** To display the sum of the first n numbers

In [9]:
n=int(input("Enter number:"))
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print("The sum of first",n,"numbers is :",sum)

Enter number: 5

The sum of first 5 numbers is : 15

**Example 3:** Write a program to prompt the user to enter some name until entering Durga

In [10]:
name=""
while name!="durga":
  name=input("Enter Name:")
print("Thanks for confirmation")

Enter Name: Kiran
Enter Name: Durga
Enter Name: durga

Thanks for confirmation

# Infinite loop

```
i=0;
while True :
  i=i+1;
  print("Hello",i)
```

# Nested loop

Sometimes we can take a loop inside another loop, which is also known as a **nested loop**.

In [11]:
for i in range(4):
  for j in range(4):
    print("i=",i," j=",j)

i= 0  j= 0
i= 0  j= 1
i= 0  j= 2
i= 0  j= 3
i= 1  j= 0
i= 1  j= 1
i= 1  j= 2
i= 1  j= 3
i= 2  j= 0
i= 2  j= 1
i= 2  j= 2
i= 2  j= 3
i= 3  j= 0
i= 3  j= 1
i= 3  j= 2
i= 3  j= 3