# The input( ) function

The **input()** function always reads the data from the keyboard in the form of a String Format. 

We have to convert that string type to our required type by using the corresponding type-casting methods.

**Write a program to read 2 numbers from the keyboard and print sum?**

In [1]:
x = input("Enter First Number:")
y = input("Enter Second Number:")
i = int(x)
j = int(y)
print("The Sum:",i+j)

Enter First Number: 1
Enter Second Number: 2

The Sum: 3

**Write a Program to read Employee Data from the Keyboard andprint that Data.**

In [3]:
eno = int(input("Enter Employee No:"))
ename = input("Enter Employee Name:")
esal = float(input("Enter Employee Salary:"))
eaddr = input("Enter Employee Address:")
married = bool(input("Employee Married ?[True|False]:"))

print("Please Confirm Information")
print("Employee No :",eno)
print("Employee Name :",ename)
print("Employee Salary :",esal)
print("Employee Address :",eaddr)
print("Employee Married ? :",married)

Enter Employee No: 592118
Enter Employee Name: Kiran
Enter Employee Salary: 1000
Enter Employee Address: Balurghat
Employee Married ?[True|False]: False

Please Confirm Information
Employee No : 592118
Employee Name : Kiran
Employee Salary : 1000.0
Employee Address : Balurghat
Employee Married ? : True

>**NOTE:**
>
> married will always be **"True"**.
>
> Because when we provide the input as **False**, it is evaluated as below:
>
> married = bool("False")   # bool ( non-empty string )
>
> married = True
>
> Because bool ( non-empty string ) is always **True**.

> **SOLUTION:**
>
> Instead of bool, use **eval( )** function.
>
> `married = eval ( input ("Employee Married ? [True|False]:") )`

# Reading multiple values in a single line

In [6]:
# LIST COMPREHENSION

a,b= [ int(x) for x in input("Enter 2 numbers :").split() ]   # LIST UNPACKING
print("Product is :", a*b)

# OUTPUT
# Enter 2 numbers :10 20
# Product is : 200

Enter 2 numbers : 1 2

Product is : 2

> **Note:** 
>
> **split( )** function can take space as seperator by default.
>
> But we can passanything as seperator.

In [7]:
# LIST COMPREHENSION

a,b,c= [float(x) for x in input("Enter 3 float numbers :").split(',')]    # LIST UNPACKING
print("The Sum is :", a+b+c)

# OUTPUT
# Enter 3 float numbers :10.5,20.6,20.1
# The Sum is : 51.2

Enter 3 float numbers : 10.5,20.6,20.1

The Sum is : 51.2

# eval( ) function - Replacement of all Typecasting Functions

The **eval( )** function takes a string and evaluates the result. 

That is, **eval()** can evaluate the Input to **list**, **tuple**, **set**, etc based on the provided Input.

```
x = eval(input(“Enter Expression”))
print(type(x))
print(x)
 
# OUTPUT
# Enter Expression: 10
# <class 'int'>
# 10

# OUTPUT
# Enter Expression: 10.5
# <class 'float'>
# 10.5

# OUTPUT
# Enter Expression: false
# <class 'bool'>
# false

# OUTPUT
# Enter Expression: 10+2*3/4
# <class 'float'>
# 11.5

# OUTPUT
# Enter Expression: [10,20,30]
# <class 'list'>
# [10,20,30]


```