The ***str*** represents the string data type. 

A string is a sequence of Unicode characters enclosed within ***single quotes*** or ***double quotes***. 

***Unicode was introduced to include every character in all languages and bring uniformity in encoding. You can learn more about Unicode from Python Unicode.***

In [1]:
s1='durga'    # string representation with single quotes.
s2="durga"    # string representation with double quotes.

print(s1)     # durga
print(s2)     # durga

print(type(s1)) # <class 'str'>
print(type(s2)) # <class 'str'>

durga
durga
<class 'str'>
<class 'str'>

In Python, we can represent **char** values also by using **str** type and ***explicitly char type is not available***. 

Even a single character in a single quote is also treated as a string.

In [2]:
s = 'a'
print(type(s))  # <class 'str'>

<class 'str'>

# Triple Single Quotes or Triple Double Quotes

By using ***single quotes*** or ***double quotes*** we cannot represent ***multi-line string*** literals.

In [3]:
# SyntaxError: unterminated string literal
s = "durga
    soft"

SyntaxError: unterminated string literal (detected at line 2) (2102035986.py, line 2)

In [4]:
# SyntaxError: unterminated string literal
s = 'durga
    soft'

SyntaxError: unterminated string literal (detected at line 2) (2606871786.py, line 2)

### Using triple quotes, we can represent multi-line string literals.

In [8]:
# Triple Single Quotes
s = '''Kiran
    Moy
    Paul
    '''
print(s)

Kiran
    Moy
    Paul

In [9]:
# Triple Double Quotes
s ="""Kiran
    Moy
    Paul
    """
print(s)

Kiran
    Moy
    Paul

### Embedding a single quote in a string literal.

In [10]:
print(" This is ' Character")   # This is ' Character

 This is ' Character

### Embedding a double quote in a string literal.

In [11]:
print(' This is " Character')   # This is " Character

 This is " Character

### If you want to use both single quotes & double quotes in a string literal as a normal character, you need to use triple quotes.

In [12]:
print('''This is ' & " Character''')   # This is ' & " Character
print("""This is ' & " Character""")   # This is ' & " Character

This is ' & " Character
This is ' & " Character

# USAGES OF TRIPLE QUOTES

* To define multi-line string literals.

* To use **'** and **â€œ** as normal characters in a string literal.

* To define doc string.