# Concatenation Operator (+)

We can use `+` to concatenate 2 lists into a single list.

> **Note**:  To use the `+` operator **compulsory both arguments should be list objects**, otherwise, we will get **TypeError**.

In [2]:
a = [10, 20, 30]
b = [40, 50, 60]
c = a+b
print(c)          # [10, 20, 30, 40, 50, 60]

c = a+[40]        
print(c)          # [10, 20, 30, 40, 50, 60, 40]

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40]

In [3]:
c = a+40          # TypeError: can only concatenate list (not "int") to list.

TypeError: can only concatenate list (not "int") to list

# Repetition Operator (*)

We can use the repetition operator `*` to repeat elements of the list a specified number of times. 

> **Note**:  To use the `*`  operator **compulsory one argument should be a list object and another argument should an int**, otherwise, we will get **TypeError**.

In [4]:
x = [10, 20, 30]
y = x*3
print(y)          # [10, 20, 30, 10, 20, 30, 10, 20, 30]

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [5]:
print(x * 2.0)    # TypeError: can't multiply sequence by non-int of type 'float'.

TypeError: can't multiply sequence by non-int of type 'float'

In [6]:
print(x * x)    # TypeError: can't multiply sequence by non-int of type 'list'.

TypeError: can't multiply sequence by non-int of type 'list'

# Equality Operators ( ==, != )

We can use equality operators for list-objects.

Whenever we are using **equality operators (`==`, `!=`)** for list objects then the following should be considered:
* The Number of Elements
* The Order of Elements
* The Content of Elements (Case Sensitive) 

If all three criteria were met then only the `==` operator returns `True`, else returns `False`.

In [8]:
x = ["Dog", "Cat", "Rat"]
y = ["Dog", "Cat", "Rat"]
z = ["DOG", "CAT", "RAT"]
a = ["Rat", "Dog", "Cat"]

print(x == y) # True
print(x == z) # False
print(x != z) # True
print(x == a) # False

True
False
True
False

# Relational Operators ( <, <=, > >= )`

We can use relational operators for list objects.

Whenever we are using **relational operators (`<`, `<=`, `>`, `>=`)** between list objects, the result will be determined on the basis of content comparison, **the number of elements is not at all important**.

If the result cannot be determined based on the content of the first elements of both the list then it check for the second elements and so on.

In [9]:
x = [50, 20, 30]
y = [40, 50, 60, 100, 200]

print(x>y)    # True
print(x>=y)   # True
print(x<y)    # False
print(x<=y)   # False

True
True
False
False

In [10]:
x = ["Dog", "Cat", "Rat"]
y = ["Rat", "Cat", "Dog"]
print(x>y)    # False
print(x>=y)   # False
print(x<y)    # True
print(x<=y)   # True

False
False
True
True

# Membership Operator ( in, not in )

We can check whether the element is a member of the list or not by using membership operators. 
* **`in` operator**
* **`not in` operator**

In [11]:
n=[10,20,30,40]

print (10 in n)       # True
print (10 not in n)   # False
print (50 in n)       # False
print (50 not in n)   # True

True
False
False
True