# Concatenation Operator (+)

We can use the **`+`** operator to concatenate 2 tuples into a single tuple

In [1]:
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2

print(t3)     #  (10,20,30,40,50,60)

(10, 20, 30, 40, 50, 60)

In [2]:
t4 = t1 + 10      # TypeError: can only concatenate tuple (not "int") to tuple.

TypeError: can only concatenate tuple (not "int") to tuple

In [3]:
t4 = t1 + [10,20]    # TypeError: can only concatenate tuple (not "list") to tuple.

TypeError: can only concatenate tuple (not "list") to tuple

> **Note:** To use the **`+`** operator compulsory both arguments should be tuple objects, otherwise, we will get **TypeError**

# Multiplication Operator OR Repetition Operator (*)

We can use the repetition operator **`*`** to repeat elements of the tuple a specified number of times.

In [5]:
t1=(10,20,30)
t2=t1*3

print(t2)       # (10,20,30,10,20,30,10,20,30)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [6]:
print(t1 * 2.0)    # TypeError: can't multiply sequence by non-int of type 'float'.

TypeError: can't multiply sequence by non-int of type 'float'

In [7]:
print(t1 * t2)      # TypeError: can't multiply sequence by non-int of type 'tuple'.

TypeError: can't multiply sequence by non-int of type 'tuple'

> **Note:** To use the **`*`** operator compulsory one argument should be a tuple object and another argument should be an int, otherwise, we will get **TypeError**.

# Equality Operators ( ==, != )

We can use equality operators for tuple objects.

Whenever we are using **equality operators (`==`, `!=`)** for tuple objects then the following should be considered:
* The Number of Elements
* The Order of Elements
* The Content of Elements (Case Sensitive)

If all three criteria were met then only the **`==`** operator returns **`True`**, else returns **`False`**.

In [9]:
x = ("Dog", "Cat", "Rat")
y = ("Dog", "Cat", "Rat")
z = ("DOG", "CAT", "RAT")
a = ("Rat", "Dog", "Cat")

print(x == y) # True
print(x == z) # False
print(x != z) # True
print(x == a) # False

True
False
True
False

# Relational Operators ( <, <=, > >= )

We can use relational operators for tuple objects.

Whenever we are using **relational operators (`<`, `<=`, `>`, `>=`)** between tuple objects, the result will be determined on the basis of content comparison, **the number of elements is not at all important**.

If the result cannot be determined based on the content of the first elements of both the list then it check for the second elements and so on.

In [10]:
x = (50, 20, 30)
y = (40, 50, 60, 100, 200)

print(x>y)    # True
print(x>=y)   # True
print(x<y)    # False
print(x<=y)   # False

True
True
False
False

In [11]:
x = ("Dog", "Cat", "Rat")
y = ("Rat", "Cat", "Dog")
print(x>y)    # False
print(x>=y)   # False
print(x<y)    # True
print(x<=y)   # True

False
False
True
True

# Membership Operator ( in, not in )

We can check whether the element is a member of the tuple or not by using membership operators.
* **`in`** Operator
* **`not in`** Operator

In [12]:
n = (10,20,30,40)

print (10 in n)       # True
print (10 not in n)   # False
print (50 in n)       # False
print (50 not in n)   # True

True
False
False
True