# Mathematical Operators

Mathematical operators are not applicable to set objects.

In [1]:
s1 = {10,20,30}
s2 = {40,50,60}

s3 = s1 + s2    # TypeError: unsupported operand type(s) for +: 'set' and 'set'

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [2]:
s3 = s1 * 3     # TypeError: unsupported operand type(s) for *: 'set' and 'int'

TypeError: unsupported operand type(s) for *: 'set' and 'int'

# Equality Operators

For **`==`** operators, two set objects are equal, if they both contain
* the same elements
* the same number of elements
* order is not important

In [3]:
s1 = {10,20,30}
s2 = {30,10,20}

print(s1 == s2)     # True
print(s1 != s2)     # False

True
False

# Relational Operators

Relational operators are applicable for the set object but donâ€™t have proper logic. ***(Not Meaning fully implemented)***

In [4]:
s1 = {10,20,30}
s2 = {20,10,5,6,7}

print(s1 > s2)        # False
print(s1 < s2)        # False
print(s1 >= s2)       # False
print(s1 <= s2)       # False

False
False
False
False

# Membership Operators

We can check whether the element is a member of the tuple or not by using membership operators.
* **`in`** Operator
* **`not in`** Operator

In [5]:
s = {10,20,30,40}
print(10 in s)        # True
print(50 in s)        # False
print(50 not in s)    # True

True
False
True

In [6]:
s=set("durga")

print(s)                # {'u', 'g', 'r', 'd', 'a'}

print('d' in s)         # True
print('z' in s)         # False
print('z' not in s)     # True

{'a', 'd', 'u', 'g', 'r'}
True
False
True