We can use the **int( )** function to convert values from ***other types to int***.

# float -> int

Digit after decimal will be removed.

In [1]:
int(123.987)        # 123

123

# complex -> int

Complex number cannot be converted to int type.

In [2]:
int(10+5j)        #  TypeError: can't convert complex to int

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# bool -> int

Boolean type is internally treated as int. That is, ***True=1*** & ***False=0***.

In [4]:
print(int(True))         # 1
print(int(False))        # 0

1
0

# str -> int

* Compulsory the str value should be an **integral value** and should be specified in **base-10 format**.
* base-2, base-8 & base-16 form is **not allowed**.

In [5]:
int("10")           # 10

10

In [6]:
int("10.5")         # ValueError: invalid literal for int() with base 10: '10.5'

ValueError: invalid literal for int() with base 10: '10.5'

In [7]:
int("ten")          # ValueError: invalid literal for int() with base 10: 'ten'

ValueError: invalid literal for int() with base 10: 'ten'

In [8]:
int("0B1111")       # ValueError: invalid literal for int() with base 10: '0B1111'

ValueError: invalid literal for int() with base 10: '0B1111'

> ***NOTE***

> We can convert from any type to int except complex type.

> If we want to convert str type to int type, compulsary ***str should contain only integral value*** and should be specified in **base-10** only.