We can use the **float( )** function to convert values from ***other types to float type***.

# int -> float

Decimal point will be added.

In [2]:
float(10)       # 10.0
float(0B1111)   # 15.0

15.0

# complex -> float

Complex number **cannot** be converted to **float** type.

In [3]:
float(10+5j)    # TypeError: can't convert complex to float

TypeError: float() argument must be a string or a real number, not 'complex'

# bool -> float

Boolean type is internally treated as int. That is, **True=1** & **False=0**.

In [5]:
float(True)         # 1.0
float(False)        # 0.0

0.0

# str -> float

Compulsory the str value should be an **integral** or **float** value and should be specified in **base-10 format**.  Other format such as base-2, base-8 & base-16 form is **not allowed**.

In [6]:
float("10")           # 10
float("10.5")         # 10.5

10.5

In [7]:
float("ten")          # ValueError: could not convert string to float: 'ten'

ValueError: could not convert string to float: 'ten'

In [8]:
float("0B1111")       # ValueError: could not convert string to float: '0B1111'

ValueError: could not convert string to float: '0B1111'

In [9]:
float("0XFace")       # ValueError: could not convert string to float: '0XFace'

ValueError: could not convert string to float: '0XFace'

> ***NOTE***

> We can convert any type value to float type except complex type .

> If we want to convert str type to int type, compulsary ***str should contain only integral or float value*** and should be specified in ***base-10*** only.