# List Merging

In [1]:
l1 = [10, 20]
l2 = [30, 40]

# WAY 1
l3 = l1 + l2
print(l3)       # [10, 20, 30, 40]

# WAY 2
l4 = [ *l1, *l2 ]
print(l4)       # [10, 20, 30, 40]

[10, 20, 30, 40]
[10, 20, 30, 40]

# Tuple Merging

In [2]:
t1 = (10, 20)
t2 = (30, 40)

# WAY 1
t3 = t1 + t2
print(t3)       # (10, 20, 30, 40)

# WAY 2
t4 = ( *t1, *t2 )
print(t4)       # (10, 20, 30, 40)

(10, 20, 30, 40)
(10, 20, 30, 40)

# Set Merging

In [3]:
s1 = {10, 20, 50}
s2 = {30, 40, 50}

# WAY 1
s3 = { *s1, *s2 }
print(s3)       # {10, 20, 30, 40, 50}

{50, 20, 40, 10, 30}

In [4]:
s3 = s1 + s2    # TypeError: unsupported operand type(s) for +: 'set' and 'set'

TypeError: unsupported operand type(s) for +: 'set' and 'set'

# Dictionary Merging

In [6]:
d1 = {100: 'A', 200: 'B'}
d2 = {300: 'C', 400: 'D', 100: 'E'}

# WAY 1
d3 = { **d1, **d2 }
print(d3)             # {100: 'E', 200: 'B', 300: 'C', 400: 'D}

{100: 'E', 200: 'B', 300: 'C', 400: 'D'}

In [7]:
d3 = d1 + d2          # TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

> **NOTE:** If a duplicate key is there, then the old value (**`**d1`**) will be replaced by the new value (**`**d2`**).